*,
*:before,
*:after{
    box-sizing: border-box;
}

.button_delete{
    margin-left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 25%;
    outline: none;
    background-color: white;
    border: 2px solid black;
    position: relative;
    transition: .2s;
    background-position: center center;
    background-image: url(../assets/trash-can.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;

    
    
    
    
}
.button_delete:active::after{
    
    transform:scale(0.5);
}

.button_delete:hover{
    
    background-image: none;
    background-color: red;
    
}
.button_delete:active{
    
    transform: scale(0.9);
}


.button_delete:hover:after {
    
   
   transform:scale(0.8) rotate(45deg);
   
}

.button_delete:hover:before {
    
  
   transform:scale(0.8) rotate(-45deg);
    
}
    
.button_delete::after,
.button_delete::before{
    content: "";
    position: absolute;
    height: 4px;
    width: 40px;
    background-color: black;
    z-index: 999;
    top: 20px;
    left: 3px;
    border-radius: 2px;
    
}


.button_delete::after{
    
    transform: scale(0) rotate(0deg);
    transition: .2s;
}

.button_delete::before{
    
    transform:scale(0) rotate(90deg);
    transition: .2s;
}



