h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


body{

    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin: 0;

}

*,
*:before,
*:after{
    box-sizing: border-box;
}



/* Header */
.head {
    
    margin: 25px auto;
    width: 100%;
    height: 5em;
    max-width: 500px;
    min-width: 200px;
    display: block;
    border-radius: 2em;
    box-shadow: 0 0 50px #c3c3c367;
    text-align: center;
    justify-items: center;
    position: relative;

}

.logo_text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: 'Amatic SC', cursive;

}

/* Slider */
.flexBlockRow{
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.flexBlockRow p{
    font-size: 25px;
    padding-right: 20px;
}


/* Container */


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Amatic SC', cursive;
}
.container .whiteBut{
    padding: 0.5em;
    border: 2px solid black;
    outline: none;
    background-color: white;
    font-size: 1.5em;
    border-radius: 12px;
    box-shadow: 0 0 50px #c3c3c367;
    font-family: 'Amatic SC', cursive;
    transition: .2s;
}

.greenBut{
    transition: .2s;
}
.greenBut:active{
    
    transform: scale(0.9);
    background-color: green;
   
}

.whiteBut:hover{
    text-transform: lowercase;
}


#widthChange{
    
    width: 1200px;
}


/*Input Caption */
.caption{
    position: relative;
}

#captionInput{
    height: 2em;
    width: 30%;
    border: none;
    border-bottom: 2px solid silver;
    outline:none;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    font-weight: 600;
    
}


#captionInput:focus + label,
#captionInput:valid + label{

    transform: translateY(-30px);
    font-size: 1em;
    color: green;
    
}


#captionInput ~ label{
    position: absolute;
    bottom: 30%;
    left: 190px;
    transition: all 0.3s ease;
    font-size: 1.5em;

}

/*----------------------------------------*/

/* Заголовок таблицы*/
#tableCaption{
    
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 500;
    
}

/* Table style input*/
#tableStyleInput{
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    border: none;
    outline: none;
    
}





